//
// PAGE
// -----------

.page-content {
  // padding-top: 32px;

  @media #{ $mq-small } {
    // padding-top: 80px;
  }
}

.entry-content {
  margin-bottom: 64px;
}

.alignwide {
  @media #{$mq-large} {
    margin: 0 -160px;
  }
}

@media #{$mq-medium} {
  .wp-block-columns.w-two-one {
  }
  .wp-block-columns.w-two-one .wp-block-column {
    flex-basis: 33.3%;
    // margin-left: 0;
  }
  .wp-block-columns.w-two-one .wp-block-column:first-child {
    flex-basis: 66.6%;
  }
}

.page-id-101 {
  article {
    overflow: hidden;
  }
  figure {
    @media screen and (max-width: 767px) {
      margin: 0;
      width: 120%;
      margin-left: -20px;
    }
  }
  @media screen and (max-width: 960px) {
    .has-3-columns .wp-block-column:last-child() {
      flex-basis: 100%;
    }
  }
}

.page-id-89 .page-content {
  .container {
    margin: 0;
    padding: 0;

    @media #{$mq-small} {
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
