//
// WELCOME DASH WIDGET
// -------------------

#dashboard_widget_welcome {
    border: 0;
    box-shadow: none;

    .handlediv {
        display: none;
    }
    h2.hndle {
        display: none;
    }
    .inside {
        padding: 0;
    }
}
